@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{ 
    margin: 2px;;
    padding: 1px;;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;


}




body
{
    background: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin:50px;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    box-shadow: 0 35px 55px rgba(211, 68, 68, 0.1);
}
.container .left_Side
{
    position: relative;
    background: #054792;
    padding: 30px;
    padding: 20px;
}






